@charset "UTF-8";

@media screen and (min-width: 700px) {
    body {
        position: relative;
    }

    div#container {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        flex-flow: row nowrap;
    }
}