@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    transition: all 1s;
}

body {
    font-family: "noto sans";
    height: 100vh;
    background-image: linear-gradient(to bottom, black, rgba(0, 0, 0, 0.90) 60%, black);
    color: white;
}

h1 {
    text-align: center;
    margin: 20px;
}

div#container-principal {
    display: flex;
    flex-flow: column nowrap;
    padding: 20px;
}

div.container {
    margin: 20px auto;
    display: flex;
    width: 80vw;
    max-width: 600px;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: flex-start;
    gap: 10px;
    padding: 20px;
    background-color: black;
    border-radius: 10px;
}

div.card {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-around;
    padding: 10px;
    width: calc(100% - 20px);
    height: 110px;
    background-color: #222020;
    border-radius: 5px;
    box-shadow: -2px 2px 5px black;
    cursor: pointer;
}

div.card:hover {
    width: 98%;
    height: 120px;
    border: 1px solid white;
}

div.container02 {
    display: flex;
    justify-content: space-between;
}

div.esquerda {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    gap: 10px;
}

div.icone {
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgba(0, 0, 0, 0.5);
    width: 20px;
    height: 20px;
    padding: 10px;
    text-align: center;
    border-radius: 5px;
    border: 1.5px solid white;
    font-weight: bolder;
}

div.icone:hover {
    border: 1.5px solid blue;
    color: blue;
}

p.oculto {
    display: none;
}

button {
    font-size: 1.1em;
    padding: 8px;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 3px;
    color: white;
    outline: none;
    border: 2px solid transparent;
    cursor: pointer;
}

button:hover {
    background-color: white;
    color: black;
    border-color: black;
}

p.vermelho {
    color: red;
    font-weight: bolder;
}

p.verde {
    color: green;
    font-weight: bolder;
}

span {
    font-weight: bolder;
}