@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "noto sans";
    display: flex;
    height: 100vh;
    background-image: linear-gradient(to bottom, black, rgba(0, 0, 0, 0.85) 60%, black);
    justify-content: center;
    align-items: center;
    color: white;
}

form {
    width: 90vw;
    max-width: 600px;
    height: auto;
    background-color: #222020;
    padding: 10px;
    border-radius: 5px;
    box-shadow: -2px 2px 10px black;
}

div {
    margin: 10px;
}

div#cabecalho span {
    font-size: 2em;
    text-align: center;
    font-weight: 600;
}

label {
    display: inline-block;
    margin-bottom: 5px;
    font-size: 1.1em;
    font-weight: bold;
}

input {
    background-color: #373433;
    color: white;
    width: 100%;
    font-size: 1em;
    padding: 10px 0px 10px 8px;
    border: 1px solid rgba(255, 255, 255, 0.642);
    transition: all 0.5s ease-in-out;
}

input.campo {
    width: calc(100% - 10px);
}

input.campo:focus {
    outline: none;
    border: 1px solid #405E8F;
}

div#botao {
    margin-top: 20px;
}

input[type=submit] {
    border: none;
    border-radius: 3px;
    background-color: #405E8F;
    color: white;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #334a70;
}