@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    transition: all 1s;
}

body {
    font-family: "noto sans";
    height: 100vh;
    background-image: linear-gradient(to bottom, black, rgba(0, 0, 0, 0.85) 60%, black);
    color: white;
}

header {
    display: flex;
    flex-flow: column nowrap;
    text-align: center;
    background-color: black;
    padding: 10px 0px 0px 0px;
}

header h1 {
    text-align: center;
    margin: 20px;
}

header p {
    font-size: 1.1em;
}

header div#cabecalho {
    margin-bottom: 20px;
}

header span#menu-lateral {
    display: none;
}

nav ul {
    list-style-type: none;
}

nav li {
    background-color: #222020;
    margin: 3px 0px;
    padding: 5px;
}

header nav {
    display: none;
}

header span.material-symbols-outlined {
    box-sizing: border-box;
    display: block;
    background-color: #222020;
    border: 2px solid transparent;
    border-bottom-color: black;
    cursor: pointer;
}

header span.material-symbols-outlined:hover, header li:hover {
    background-color: white;
    color: black;
}

div#container {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    gap: 10vw;
    padding: 20px;
}

div.card {
    display: flex;
    flex-flow: column nowrap;
    width: 200px;
    height: 400px;
    background-color: #222020;
    border-radius: 5px;
    box-shadow: -2px 2px 5px black;
    cursor: pointer;
}

div.card:hover {
    width: 220px;
    height: 420px;
    border: 1px solid white;
}

div.card.ativo {
    width: 220px;
    height: 420px;
    border: 1px solid white;
}

div.card span {
    display: block;
    text-align: center;
    margin: 20px;
    font-size: 1.3em;
    font-weight: bold;
}

div.imagem {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    width: 180px;
    height: 200px;
    background-color: white;
    border-radius: 5px;
    overflow: hidden;
    border: 2px solid black;
}

img {
    width: 100%;
    height: 90%;
}